.navbar {
  height: 64px;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e7eb;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 2rem;
}

.logo {
  font-size: 18px;
  font-weight: 600;
}

.actions {
  display: flex;
  gap: 12px;
}
